PROJECT_ENV=dev

# Input
INPUT_FILE_PATH=./data_samples/flight_data_2024.csv

# Output local
OUTPUT_DIR=./data

# Cloud provider
CLOUD_PROVIDER=aws

# AWS
AWS_REGION=us-east-1
S3_BUCKET=flight-data-engineering-karen-2026
S3_PREFIX=flight-data-engineering

# Pipeline
CHUNK_SIZE=100000

# Data layers
BRONZE_PREFIX=flight-data-engineering/bronze
SILVER_PREFIX=flight-data-engineering/silver
GOLD_PREFIX=flight-data-engineering/gold
